.todoList{
  margin-left: 150px;
  align-items:flex-start ;  
  list-style-type: none;
}
.todoList__span{
  text-decoration: line-through;
} 

.todoList__li{  
  border: 1px solid black;
  padding: 5px;  
  margin:4px;     
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  color: black;
}
  
@media only screen and (max-width: 600px) {
  .btn-todo{   
    width: auto;   
    margin-top: 10px;
    margin-left: 0px;    
  } 
  .todoList__li{  
    margin-left: -35px;      
  }    
  .todoList{
    margin-left:0px
  }   
}


